# Editor configuration. Refer to https://editorconfig.org.
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

# TypeScript files
[*.ts]
indent_size = 2

# Web files
[*.{htm,html,js,jsm,tsx,pcss,svg,vue}]
indent_size = 2

# Style sheets
[*.{css,sass,scss,less}]
max_line_length = 120
indent_size = 2

# JSON files
[*.{json,json5,webmanifest}]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 100
