# For more information about ignored files, refer to https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files.

# System files
.DS_Store
Thumbs.db

# Dependencies
node_modules

# Compiled output
dist
out-tsc
*.tgz

# Test output
test-reporters
projects/create-vsts-npm-auth-improved/tests/temp/

.resources
