registry=https://tfs-glo-lexisadvance.pkgs.visualstudio.com/_packaging/LexisAdvance/npm/registry/
save-exact=true
strict-ssl=true
@example:registry=https://tfs-glo-lexisadvance.pkgs.visualstudio.com/_packaging/LexisAdvance/npm/registry/
