registry=https://tfs-glo-lexisadvance.pkgs.visualstudio.com/_packaging/LexisAdvance/npm/registry/
package-lock=false
lockfile-version=2
legacy-peer-deps=false
audit=true
fund=true
always-auth=true
//tfs-glo-lexisadvance.pkgs.visualstudio.com/_packaging/LexisAdvance/npm/registry/:always-auth=true
save-exact=true
@example:registry=https://tfs-glo-lexisadvance.pkgs.visualstudio.com/_packaging/LexisAdvance/npm/registry/
